@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Rammetto+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Classes para mudar o background */
.bg-vermelhor-pi {
    background-color: #FF5A5F;
}

.bg-verde-pi {
    background-color: #0E9094;
}

.bg-cinza-pi {
    background-color: #3C3C3C;
}

.bg-branco-pi {
    background-color: #F5F5F5;
}

/* Classes para mudar a cor da fonte */
.text-vermelhor-pi {
    color: #FF5A5F;
}

.text-verde-pi {
    color: #0E9094;
}

.text-cinza-pi {
    color: #3C3C3C;
}

.text-branco-pi {
    color: #F5F5F5;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
    color: #3C3C3C !important;
    line-height: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

/*Style Landing Page*/
.deskboard_landingpage {
    height: 100%;
}

/*Style Login*/

.body-login {
    background-image: url(../img/bg-login.svg);
    background-size: cover;
    background-position: center center;
    background-color: #0E9094;
}

.form-login {
    padding: 50px;
    box-shadow: 10px 10px 50px 25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #F5F5F5;
}

.form-login h1 {
    margin-bottom: 2rem;
}

.form-login i,
.form-sign-up i {
    font-size: 1rem;
    color: #0E9094;
}

.div_input {
    border: 3px solid #0E9094;
    border-radius: 10px;
}

.div_input input {
    padding: 0;
}

.div_input .form-control:focus {
    box-shadow: none;
}

.form-login button,
.btn_cadastro {
    background-color: #0E9094;
    color: #F5F5F5;
}

/*Estilos de Sing Up*/

.singup {
    width: 35%;
}

.singup::after {
    content: ' ';
    height: 200px;
    width: 200px;
    background-image: url(../img/graduation-2.svg);
    background-size: cover;
    position: absolute;
    left: 75%;
    top: 50%;
}

.body-sign-up {
    background-image: url(../img/bg-singup.svg);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: -5px center;
    background-color: #0E9094;
}

.content-singup h1 {
    margin-bottom: 0;
}

.btn_cadastro {
    width: max-content;
}

.form-sign-up {
    max-width: 405px;
}

.span-text {
    left: 60%;
    top: 20%;
    color: #F5F5F5;
}

.span-text h2 {
    font-size: 3.5rem;
    font-family: "Rammetto One", sans-serif;
}

.span-text p {
    font-family: "Inknut Antiqua", serif;
    font-size: 2rem;

}

li>a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header ul a {
    color: #000;
}

.acesso li a {
    border-radius: 16px;
}

.acesso li:nth-child(2) a {
    border-radius: 16px;
    background-color: #0E9094;
}

.splan-hero h1 {
    font-size: 4rem;
}

section {
    padding: 7.5rem 0;
    margin: 2rem 0;
}

.splan-operation h2::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background-color: #B7B3B3;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.content-splan-hero {
    margin-bottom: 4rem;
}

.splan-we-go figure {
    z-index: 2;
}

.splan-we-go figure img:nth-child(2) {
    left: -100px;
    top: -170px;
    height: 250%;
    z-index: -1;
    overflow: hidden;
}

.bg-splan-our-project,
footer,
.splan-we-go {
    background-color: #0E9094;
}

.bg-splan-our-project p {
    line-height: 175.9%;
}

footer .devs {
    background-color: #3C3C3C;
    border-radius: 25px;
    padding: 0 2rem;
}

footer p {
    max-width: 310px;
}

/*deskboard_landingpage*/

.sidebar {
    padding: 2rem 1.25rem;
}

.content-sidebar {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.sidebar:hover .content-sidebar {
    opacity: 1;
    width: 150px;
    transition: all 0.5s;
}

.account-actual{
    border: 2px solid #0E9094;
}

.account-actual{
    max-width: 300px;
    width: 100%;
}

.button-delete{
    background-color: #FF0000;
    height: 60px;
    cursor: pointer;
}

.button-delete img{
    width: 24px;
}
.email_user{
    font-size: 0.75rem;
}

body{
    background-image: url('../img/bg_formulario.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form-formulario_cronograma{
    max-width: 28.125rem;
}

.container{
    border-radius: 30px;
    background:  #fff;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.15);
    max-width: 40.625rem;
}

.content-formulario_cronograma{

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}