{% extends "base_landingpage.html" %}

{% block conteudo %}
    <div>
        <h2>Assuntos da matéria de <span class="text-capitalize">{{ materia.nome }}</span></h2>
    </div>
    <div class="box_materias flex flex-column gap-5 mt-5">
        {% for i in range(0, materia.conteudos|length, 3) %}
            <div class="box_assuntos row mb-5">
                {% for assunto in materia.conteudos[i:i+3] %}
                    <div class="box_conteudos_assuntos col-4">
                        <div class="name_assunto w-100 p-4">
                            <h5 class="text-center text-light text-capitalize">{{ assunto }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}