{% extends "base_landingpage.html" %}

{% block conteudo %}
    <div class="Box_Titulo">
        <h2 class="Titulo">Cronograma</h2>
    </div>
    <section class="Box_Assuntos">
        <div>
            <span>Assunto 1</span>
        </div>
        <div>
            <span>Assunto 2</span>
        </div>
        <div>
            <span>Assunto 3</span>
        </div>
        <div>
            <span>Assunto 4</span>
        </div>
        <div>
            <span>Assunto 5</span>
        </div>
    </section>

    <section class="Box_Calendario">
        <div class="Box_RelacaoAssuntos">
            <div>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
            </div>
            <div>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
            </div>
            <div>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
            </div>
            <div>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
            </div>
            <div>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
                <span>Assunto 1</span>
            </div>
        </div>
    </section>
{% endblock %}