<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{{url_for('verificarlogin')}}" method="post">
            <div>
                <label for="email">E-mail</label>
                <input type="text" name="email" id="">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="text" name="senha" id="">
            </div>
            <button type="submit">Fazer login</button>
        </form>
    </div>
</body>
</html>