{% extends "base_landingpage.html" %}

{% block conteudo %}
<div class="perfil-box d-flex gap-5">
    <div class="w-100">
        <h1>Perfil</h1>
        <div class="show-user d-flex gap-4 align-items-center mt-5">
            <div class="account-actual d-flex p-3 rounded gap-3">
                <img src="{{ url_for('static', filename='img/icon_user.svg') }}" alt="">
                <div class="info">
                    <p class="mb-0 fw-medium">Nome do Usuário</p>
                    <p class="email_user mb-0 opacity-75">Email do Usuário</p>
                </div>
            </div>
            <div class="button-delete d-flex justify-content-center align-items-center p-4 rounded gap-3">
                <img src="{{ url_for('static', filename='img/icon_delete.svg') }}" alt="">
            </div>
        </div>
    </div>

    <div class="w-100">
        <h2 class="">Alterações de dados</h2>
        <form action="{{url_for('validarsignup')}}" method="post" class="form-sign-up mt-4">
            <div class="content-singup d-flex flex-column gap-3">
                <div class="div_input p-3 py-2 d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-user"></i>
                    <input class="form-control bg-transparent border-0" name='nome_alteracao_user' type="text" placeholder="Nome"
                        aria-label="default input">
                </div>
                <div class="div_input p-3 py-2 d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-envelope"></i>
                    <input class="form-control bg-transparent border-0" name='email_alteracao_user' type="text" placeholder="Email"
                        aria-label="default input">
                </div>
                <div class="div_input p-3 py-2 d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-phone"></i>
                    <input class="form-control bg-transparent border-0" name="telefone_alteracao_user" type="tel"
                        placeholder="Telefone" aria-label="default input">
                </div>
                <div class="div_input p-3 py-2 d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-lock"></i>
                    <input class="form-control bg-transparent border-0" name="senhaNew" type="password"
                        placeholder="Nova Senha" aria-label="default input">
                </div>
                <button type="submit" class="p-3 rounded-5 fw-semibold btn_cadastro border-1 m-auto mt-3 border-none w-100">ALTERAR</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}