<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
    <style>
        img{
            border: solid 5px {{cor}};
        }
    </style>
</head>
<body>
    <h2>Com voces: {{usuario}}</h2>
    <div>
        <img src="{{url_for('static', filename='img/'+ usuario +'.jpg')}}" alt="">
    </div>
</body>
</html>